/*
Colors used

Text Color (Black): #000;
Background (Light Grey): #eee;
Links Color (normal) (Dark Red): #700000;
Links Color (visited) (Violet): #3e2464;
Links Color (hover) (Dark Grey): #444;
Links Color (active) (Dark Blue): #003499;
Submit button Color (Green): #80AC3E;
 */
:root {
  --primary-text-color: #000;
  --primary-background-color: #eee;
  --primary-font-size: 16px;
  --primary-font-weight: 400;
  --bold-font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.6;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.page-header {
  font-size: 24px;
  line-height: 1.4;
  font-weight: var(--bold-font-weight);
}

#logo {
  display: block;
  position: absolute;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(to left, #B5A8A8, #E1DDDD);
  color: #FFF;
  height: 70px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-list > li {
  margin: 0 1rem;
  overflow: hidden;
}

.navigation-list__item {
  color: #700000;
}

.navigation-list__item:visited {
  color: #3e2464;
}

.navigation-list__item:hover {
  color: #444;
}

.navigation-list__item:active,
.navigation-list__item:focus {
  color: #003499;
}

.navigation-list__item--active {
  text-decoration: none;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

main {
  font-size: 16px;
}

main h1 {
  font-size: 30px;
}

main p {
  font-style: italic;
}

.skill-bar p {
  font-size: 18px;
  font-style: normal;
}

.skill-bar__container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

#html {
  width: 90%;
  background-color: #04aa6d;
}

#css {
  width: 80%;
  background-color: #2196f3;
}

#js {
  width: 65%;
  background-color: #f44336;
}

#php {
  width: 60%;
  background-color: #808080;
}

.page-footer {
  font-size: 30px;
  line-height: 1.6;
  font-weight: var(--bold-font-weight);
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#submit-button {
  background-color: #80ac3e;
  color: #000;
  font-size: 15px;
  font-weight: var(--bold-font-weight);
  padding: 13px;
  border-radius: 5px;
}

#submit-button:hover,
#submit-button:focus {
  cursor: crosshair;
  opacity: 0.5;
}

.page-main {
  max-width: 700px;
  margin: 0 auto 100px;
}

.page-main__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.project__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .project-list {
    display: grid;
    margin: 0;
  }

  .project-list__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    text-align: center;
  }
}

#download-button {
  background-color: #fa6400;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  width: 20%;
  touch-action: manipulation;
  transition-duration: 0.2s;
  transition-property: opacity;
}

#download-button:hover,
#download-button:focus,
#download-button:hover,
#download-button:focus {
  cursor: pointer;
  opacity: 0.5;
}

@keyframes color-change {
  0% {
    fill: #000;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(-200px, 50px);
  }

  to {
    transform: translate(10px, 50px);
  }
}

@keyframes cloud-scale {
  from {
    transform: scale(2);
  }

  to {
    transform: scale(0.5);
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 30s cloud-scale infinite alternate linear;
}

/* Mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .project-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 30px;
  }

  .page-main {
    text-align: center;
    padding: 30px;
  }

  .page-main h1 {
    font-size: 24px;
  }

  .page-main__portrait {
    width: 200px;
    float: none;
    margin: auto;
  }

  /* 'My Linked In' button on About page for small screens */
  #download-button {
    width: 40%;
  }
}

/* Hamburger menu for small screens */
@media screen and (max-width: 700px) {
  .page-header {
    font-size: 16px;
    line-height: normal;
    font-weight: normal;
  }

  .menu-button-container {
    display: flex;
    margin-right: 30px;
  }

  .navigation-list {
    position: absolute;
    top: 0;
    margin-top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .navigation-list__item:active,
  .navigation-list__item:focus,
  .navigation-list__item:hover,
  .navigation-list__item:visited,
  .navigation-list__item--active {
    color: #eee;
  }

  #menu-toggle ~ .navigation-list li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .navigation-list li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .navigation-list > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .navigation-list > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .project-list {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 30px;
  }

  .page-main {
    padding-left: 30px;
  }

  .page-main h1 {
    font-size: 28px;
  }

  /* 'My Linked In' button on About page for small screens */
  #download-button {
    width: 30%;
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .project-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

/* Extra large screens, TV */
@media screen and (min-width: 1201px) {
  .project-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  main h1 {
    font-size: 40px;
  }
}
